<div style="text-align: center">
    <form  method="post">
        <button style="margin: 10px; background-color: rgba(0, 0, 0, 0.3); font-size: 30px; border-radius: 12px " type="submit"> Ok</button>
    </form>
    <a href="/categories">
        <button style="margin: 10px; background-color: rgba(0, 0, 0, 0.3); font-size: 30px; border-radius: 12px " type="submit">Ko</button>
    </a>
</div>