

<!--<div>-->
<!--    <form method="post" enctype="multipart/form-data">-->
<!--        <p style="text-align: center">-->
<!--            <a class="btn btn-success"><button>Đồng ý </button></a>-->
<!--        </p>-->
<!--    </form>-->
<!--    <p style="text-align: center">-->
<!--        <a href="/products" class="btn btn-primary" role="button">Ko</a>-->
<!--    </p>-->
<!--</div>-->


<div style="text-align: center">
    <form  method="post">
        <button style="margin: 10px; background-color: rgba(0, 0, 0, 0.3); font-size: 30px; border-radius: 12px " type="submit"> Ok</button>
    </form>
    <a href="/products">
        <button style="margin: 10px; background-color: rgba(0, 0, 0, 0.3); font-size: 30px; border-radius: 12px " type="submit">Ko</button>
    </a>
</div>

<!--<div>-->
<!--    <form  method="post" >-->
<!--        <div class="control-group">-->
<!--            <input type="text" class="form-control"  placeholder="name" name="name" value="<%= product.name %>"-->
<!--                   required="required" data-validation-required-message="Please enter your name"/>-->
<!--        </div>-->
<!--        <div class="control-group">-->
<!--            <a href=""> <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Delete-->
<!--                </button></a>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->